.index-header {
  height: 97px;
  backface-visibility: hidden;
  pointer-events: none;
  position: sticky;
  top: 0;
  z-index: 1012;
  border-color: #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-bottom-color: rgb(235, 235, 235);
}
